<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles.css"/>
    <script src="vendors.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="fizzbuzzer" ng-cloak>
    <h1>Hello Fizzbuzzer</h1>
    <div class="well row" ng-init="buzzer = 0">
      <button class="btn" ng-click="buzzer = buzzer + 1">+</button>
      <button class="btn" ng-click="buzzer = buzzer - 1">-</button>
      {{ buzzer }}
      <span ng-if="buzzer % 3 === 0">Fizz</span>
      <span ng-if="buzzer % 5 === 0">Buzz</span>
    </div>
  </body>
</html>
